{% extends 'base.html' %}
{% load static %}

{% block add_style %}
<style type="text/css">
.recommended__block {
	display: flex;
    align-items: end;
	width: 398px;
	height: 400px;
	margin-right: 9px;
	color: #666;
	opacity: 0.8;
}
.recommended__block:link {text-decoration: none}
.recommended__block:visited {text-decoration: none}
.recommended__block:active {text-decoration: none}
.recommended__block:hover {
    font-size: 20px;
    font-weight: bold;
    color: #17CF97;
    opacity: 1;
    transform: scale(1.01);
    box-shadow:0 0 7px #00FF7F;
}
</style>
{% endblock %}

{% block body_contain %}
	<section id="catalog">
		<div class="container p100">
			<div class="catalog">
				<div class="title">{{ block_name }}</div>
				<div class="catalog__block">

					{% for block in blocks %}
						<div class="recommended__elems ficb recommended__elems_{% cycle 'first' 'sec' %}">
							{% for bouquet in block %}
								<a href="{% url 'flower_order:card' bouquet.pk %}" class="recommended__block" style="background: url('{{ bouquet.image.url }}') no-repeat center bottom / cover;">
									<div class="recommended__block_elems ficb">
										<span class="recommended__block_intro">{{ bouquet.title }}</span>
										<span class="recommended__block_price">{{ bouquet.price }} руб</span>
									</div>
								</a>
							{% endfor %}
						</div>
					{% endfor %}

					<form action="{% url 'flower_order:catalog' %}">
						<button class="btn largeBtn catalog__btn" name="display" value="{{ display }}">{{ button_text }}</button>
					</form>

				</div>
			</div>
		</div>
	</section>
{% endblock %}