{% extends 'base.html' %}
{% load static %}

{% block add_style %}
<style type="text/css">
.order__form_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 365px;
	height: 57px;
	background: #D9FAF1;
	color: #17CF97;
	text-decoration: none;
}
</style>
{% endblock %}

{% block body_contain %}
	<section id="orderStep">
		<div class="container">
			<div class="order orderStep">
				<div class="order__block">
					<div class="order_items">
						<div class="title">Оплата</div>
						<form action="{% url 'flower_order:order_step' %}" class="order__form orderStep_form">
							<div class="order__form_block">
								<div class="order__form_items">
									<div class="order__form_intro">номер карты</div>
									<input type="text" name="cardNum" class="order__form_input orderStep_form_input" placeholder="Введите номер" required>
									<div class="order__form_item fic">
										<input type="text" name="cardMm" class="order__form_input orderStep_form_input" placeholder="ММ" required>
										<input type="text" name="cardGg" class="order__form_input orderStep_form_input" placeholder="ГГ" required>
									</div>
									
									<input type="text" name="cardFname" class="order__form_input orderStep_form_input" placeholder="Имя владельца" required>
									<input type="text" name="cardCvc" class="order__form_input orderStep_form_input" placeholder="CVC" required>
								</div>
								<div class="order__form_items">
									<div class="order__form_intro">Ваш e-mail (необязательно)</div>
									<input type="email" name="mail" class="order__form_input orderStep_form_input" placeholder="pochta@mail.ru">
								</div>
							</div>
							<div class="order__form_line"></div>
							<div class="order__form_btns ficb">
								<button class="btn order__form_pay" name="price" onclick="document.location='https://api.paybox.money/payment.php?pg_merchant_id=526740&pg_amount=200&pg_currency=RUB&pg_description=Футболка+с+принтом&pg_salt=kFQ4pYsAV1K531C0&pg_sig=26c83d710e86e916acffb80ea931a30e'">
									Оплатить {{ price }}
								</button>

								<a class="btn order__form_btn" href="javascript:history.back()">Назад</a>
							</div>
						</form>
					</div>
					<!-- <div class="blockImgHiden"></div> -->
				</div>
			</div>
		</div>
		<img src="{% static 'img/orderImg.jpg' %}" alt="orderImg" class="order__img">
	</section>
{% endblock %}