{% extends 'base.html' %}
{% load static %}

{% block add_style %}
<style type="text/css">
.order__form_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 365px;
	height: 57px;
	background: #D9FAF1;
	color: #17CF97;
	text-decoration: none;
}
</style>
{% endblock %}

{% block body_contain %}
	<section id="order">
		<div class="container">
			<div class="order">
				<div class="order__block">
					<div class="order_items">
						<div class="title">Оформление доставки</div>
						<form action="{% url 'flower_order:order_step' %}" class="order__form">{% csrf_token %}
							<div class="order__form_block ficb">
								<input type="text" name="fname" class="order__form_input" placeholder="Введите Имя" required>
								<input type="text" name="tel" class="order__form_input" placeholder="+ 7 (999) 000 00 00" required>
								<input type="text" name="address" class="order__form_input" placeholder="Адрес доставки" required>
							</div>
							<div class="order__form_btns fic">
								{% for time in delivery_times %}
									<div class="order__form_radioBlock ">
										<input type="radio" name="orderTime" id="radio{% cycle 1 2 3 4 5 6 %}" value="{{ time }}" class="order__form_radio" />
										<label for="radio{% cycle 1 2 3 4 5 6 %}" class="radioLable">{{ time }}</label>
									</div>
								{% endfor %}
							</div>
							<div class="order__form_line"></div>
							<div class="order__form_btns ficb">
								<button class="btn order__form_pay" name="bouquet" value="{{ bouquet_pk }}">Оплатить {{price}}</button>
								<a class="btn order__form_btn" href="javascript:history.back()">Назад</a>
							</div>
						</form>
					</div>
					
				</div>
			</div>
		</div>
		<img src="{% static 'img/orderImg.jpg' %}" alt="orderImg" class="order__img">
	</section>
	<script>
		document.querySelector('input[type=radio]').onclick = function(e) {
			// e.preventDefault()
			// console.log(e.target)
			console.log(e.target.value)
		}
	</script>
{% endblock %}